{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <script src="{% static 'js/homepage.js' %}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/0efb5bc93c.js"></script>
    <title>Homepage</title>
</head>
<body>
    <!-- Header -->
    <div class="header_section">
        <div class="left_section">
            <i class="fa fa-bars hamburger fa-6x" style="transform: scale(1.5,1);" aria-hidden="true"></i>
            <img class="logo-styles" src="{% static 'images/logo.png' %}" alt="VideoBox">
        </div>
        
        <div class="search_section">
            <input type="text" placeholder="Search"/>
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>

        <div class="account_section">
            <i class="fa fa-video-camera" aria-hidden="true" style="margin: 10px;"></i>
            <h4 style="margin: 6px;">Krutika Bhatt</h4>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
    </div>

    <!-- Main Video Section -->
    <div class="TheMainVideoSection">
        <div class="videos">
            <video  width="1060" height="500" controls>
                <source src="{% static 'videos/demonstartion.mp4' %}" type="video/mp4">
            </video>

            <div class="Video_section">
                <div class="First_line">
                    <h4>Learn Git and Github in 1 day !</h4>
                    <div class="LikeUnlike">
                        <i class="fa fa-thumbs-up" aria-hidden="true" id="IconResize"></i>
                        <h4 class="LikeCount">106</h4>
                        <i class="fa fa-thumbs-down" aria-hidden="true" id="IconResize"></i>
                        <h4  class="LikeCount">32</h4>
                    </div>
                    
                    <div class="Share_feature"> 
                        <h4>Share</h4>
                        <i class="fa fa-share-alt" aria-hidden="true" id="IconResize"></i>
                    </div>
                </div>
                
                <p>182,480 views  &nbsp; ● Streamed live on Jul 29, 2020</p>
                <div class="Next_ROW" style="height: 1.5px;width:1070px;"></div>

                <div class="ProfileSection">
                    <div class="ProfileAccount">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h4>Krutika Bhatt</h4>
                    </div>
                    <p>In this video, we will be learning about basics of Git and github.Github is the best hosting and open source webite and every programmmer should know this very basic information.</p>
                </div>
                <div class="Next_ROW" style="height: 1.5px;width:1070px;"></div>

                <div class="Comments">
                    <h3> 432 Comments</h3>
                    <div class="MyComment">
                        <textarea rows="4" cols="110" placeholder="Enter a comment"></textarea>
                        <button class="Comment_button">Save</button>
                    </div>

                    <div class="OthersComment">
                        <div class="SingleComment">
                            <div class="AlignCommentItem" style="display: flex;">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <div class="NameText">
                                    <h4>Diana Fernandis</h4>
                                    <p>It is very well Explained.. Keep it up :-)</p>
                                </div>
                               
                            </div> 
                        </div>

                        <div class="SingleComment">
                            <div class="AlignCommentItem" style="display: flex;">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <div class="NameText">
                                    <h4>Krutika Bhatt</h4>
                                    <p>I am in 1st year and really needed this video. Open source is a basic need.In any project let it be academic or not- These skills are necessary. Now in covide times,this video is appreciated</p>
                                </div>
                               
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
    </div>
</body>
</html>